html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(images/background2.jpg);
}

header {
    background-color: rgba(255,255,255,0);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.menu {
    font-size: 16px;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border-radius: 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative; 
}

.menu li:hover a {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
}

.menu a.scrolled::after {
    background-color: #000; 
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; 
    height: 1px; 
    background-color: white; 
    visibility: hidden; 
    width: 0;
    transition: width 0.3s ease, visibility 0.3s ease; 
}

.menu a:hover::after {
    visibility: visible; 
    width: 100%;
}


.slider {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.company-name {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px; 
    color: #fff;
    z-index: 2; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 2px; 
    font-weight: bold;
}

.company-name::before,
.company-name::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 30px);
    background-color: #fff; 
    top: -15px; 
    left: -15px; 
    z-index: -1;
}

.company-name::after {
    top: auto;
    bottom: -15px;
}


.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.slider img.active {
    opacity: 1; 
}

.about {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.store-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.highlight {
    text-decoration: underline;
    text-align: center;
}

.contact {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

hr {
    width: 70%;
    height: 2px;
    background-color: black;
    margin: auto;
}
